@model IEnumerable<Core_MVC.Models.QC_Slider>
@using CS.Portal.Common;

@if (Model != null && Model.Count() > 0)
{
    <div id="qc-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{ int i = 0;}
            @foreach (var item in Model)
            {
                if (i == 0)
                {
                    <li data-target="#qc-carousel" data-slide-to="0" class="active"></li>
                }
                else
                {
                    <li data-target="#qc-carousel" data-slide-to="@i"></li>
                }
                i++;
            }
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @{ i = 0;}
            @foreach (var item in Model)
            {
                i++;
                if (i == 1)
                {
                    <div class="item active">
                        <a href="@item.duonglink">
                            <img src="@Url.Content(item.duongdananh)" alt="anh slide">
                        </a>
                        <div class="carousel-caption">
                            <h3>@item.tieudechinh</h3>
                            <p>@item.tieudephu</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <a href="@item.duonglink">
                            <img src="@Url.Content(item.duongdananh)" alt="anh slide">
                        </a>
                        <div class="carousel-caption">
                            <h3>@item.tieudechinh</h3>
                            <p>@item.tieudephu</p>
                        </div>
                    </div>
                }
            }


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-qc-control" href="#qc-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-qc-control" href="#qc-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}