@model Core_MVC.Models.QC_BienDongGia
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cập nhật loại biến động giá
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-7">
                        @using (Html.BeginForm("Edit", "QC_BienDongGia", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.id, new { style = "width:50%;", @class = "form-control", @type = "hidden" })
                            </div>
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.kyhieu, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.kyhieu, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.kyhieu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="control-group row">
                                    <div class="col-lg-3">
                                        @Html.LabelFor(model => model.mota, htmlAttributes: new { @class = "control-label" })
                                    </div>
                                    <div class="col-lg-9">
                                        @Html.TextBoxFor(model => model.mota, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.mota, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-3 col-lg-9">
                                    <input type="submit" value="Cập nhật" class="btn btn-primary" />
                                    <a class="btn btn-default" href="@Url.Content("~/Admin/QC_BienDongGia")">Quay lại</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

